<!-- <div class="section">
    <h1>Welcome to K8eats</h1>
    <p>
At K8eats, we bring you fresh, flavorful meals and snacks curated for every craving. Whether you're in the mood for something healthy, hearty, or indulgent, we've got the perfect bite waiting. Browse our menu, order with ease, and enjoy food made with care—just the way you like it.</p>
</div> -->


<!-- 
<div class="section">
  <div class="container">
   <h1>Welcome to K8eats!</h1>
    <p>
      At K8eats, we bring you fresh, flavorful meals and snacks curated for every craving.
      Whether you're in the mood for something healthy, hearty, or indulgent, we've got the
      perfect bite waiting. Browse our menu, order with ease, and enjoy food made with care—
      just the way you like it.
    </p>
  </div>
  </div> -->

  <!-- ---- -->

  <div class="intro-section">
  <div class="overlay">
    <div class="intro-content">
      <h1>Welcome to <span class="highlight">K8eats</span>!</h1>
      <p>
        Discover flavor like never before.<br>
        At <strong>K8eats</strong>, we serve up fresh, delicious meals and snacks made to satisfy every craving.
        Whether you're looking for a healthy bite, a hearty feast, or something irresistibly indulgent—<br>
        we've got your hunger covered.
      </p>
  

    </div>
  </div>
</div>
