
*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 

  overflow-x: hidden;
}
body{
    overflow-wrap: normal;
    overflow-x: hidden; 
}


body::-webkit-scrollbar {
  display: none;
}